RewriteEngine On
RewriteRule ^/?catalog/(.*\.*)$  https://s3-us-west-2.amazonaws.com/eshop-prod-s3-testbucket/$1 [L]
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
